@font-face {
    font-family: 'Avenir-book';
    src: url('..fonts/Avenir-Book.ttf') format('ttl');
    font-weight: 300;
}

@font-face {
    font-family: 'Avenir-light';
    src: url('..fonts/Avenir-Light.ttf') format('ttl');
    font-weight: 300;
}